<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Sugestão</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only"
            asp-fallback-test-property="position" asp-fallback-test-value="absolute" crossorigin="anonymous"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/content.css" />
</head>

<body>
    <div id="header-content">
        <header>
            <nav
                class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index">Principal</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Main"
                                    asp-action="Campanha">Campanhas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Main"
                                    asp-action="Sugestao">Sugestões</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Main"
                                    asp-action="Avaliador">Avaliadores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">
                                    <img src="~/lib/imgs/user-interface.png" alt="login" id="img-user">
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <!--  -->
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu">
                                    <!--  -->
                                    <a class="dropdown-item" asp-controller="Login"
                                        asp-action="RegistrarNovoUsuario">Novo Usuário</a>
                                    <!--  -->
                                    <a class="dropdown-item" asp-controller="Login" asp-action="Sair"
                                        onclick="return confirm('Você tem certeza que deseja sair?')">Sair</a>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <!--  -->
    <div class="container">

        <main role="main" class="pb-3">
            @{
                await Html.RenderPartialAsync("_StatusMessages");
            }
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Aluno: Márcio Rodrigues Rezende - Uniaraxá
        </div>
    </footer>
    <!--  -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>

    <!--  -->
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    </environment>

    <!--  -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- FAZ FUNCIONAR OS ALERTS -->
    <script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    @RenderSection("Scripts", required: false)

    <script>
        // Código para fechar os alertas
        $(".alert .btn-close").on("click", function () {
            $(this).closest(".alert").alert("close");
        });
    </script>


</body>

</html>