@{
    Layout = "~/Views/Shared/_MeuLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>

<body>
    <div class="container container-content">
        <div class="row content-top">
            <div class="col-sm-6">
                <h1>Sistema de Sugestões </h1>
                <p>Participe de uma de nossas campanhas de sugestões e nos ajude a melhorar!</p>
                <p>Você pode participar de uma campanha ativa ou sugerir uma nova campanha!</p>
                <a asp-controller="Login" asp-action="RegistrarNovoUsuario">
                    <h3>Faça seu cadastro!!</h3>
                </a>
            </div>
            <div class="col-sm-6">
                <img src="~/lib/imgs/sugestao.png" alt="">
            </div>

        </div>
        <hr>
        <div class="row content-bottom">
            <div class="col-sm-6 content-left">
                <h3>Campanhas Ativas</h3>
                <ul>
                    <li>Redução de Custos</li>
                    <li>Melhoria de Processos</li>
                </ul>
                <p>Visite a nossa página de campanhas:
                     <a asp-controller="Main" asp-action="Campanha">Página de Campanhas</a>
                </p>
            </div>
            <div class="col-sm-6 content-right">
                <h3>Avaliadores</h3>
            <p>É um avaliador? Veja as sugestões designadas para sua avaliaçao:
                 <a asp-controller="Main" asp-action="Avaliador">Página de Avaliadores</a> </p>
            </div>
        </div>
    </div>


</body>

</html>