#header-content {
    background-color: grey;
}

#img-user {
    width: 25px;
    height: 25px;
}

.container-content {
    min-height: 600px;
}

.container-content hr{
    border-top: 2px solid #000;
    border-radius: 5px;
    margin: 80px 0 80px 0;
}

.content-top a{
    color: #000;
    text-decoration: underline;
}
.content-top img{
    width: 350px;
    height: 250px;
}

.content-left{
   padding: 5px 0 5px 5px;
}

.content-right{
    padding: 5px 0 5px 5px;
}

.content-left h3{
    font-style: italic;
}
.content-left a{
    text-decoration: underline;
}
.content-right h3{
    font-style: italic;
}
.content-right a{
    text-decoration: underline;
}